﻿@{

    string utilisateurJson = Context.Session.GetString("Utilisateur");
    bool utilisateurConnecte = !string.IsNullOrEmpty(utilisateurJson);
    Utilisateur utilisateur = null;

    if (utilisateurConnecte)
    {
        utilisateur = JsonConvert.DeserializeObject<Utilisateur>(utilisateurJson);
    }
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookyDou</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/BookDou.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="fond-custom">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/imageSite/LogoBookydou.png" alt="Logo de BookyDou" class="img-fluid logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">

                        @if (utilisateurConnecte)
                        {
                            <li class="nav-item mx-2">
                                <a class="texte-nav-custom" asp-area="" asp-controller="Utilisateur" asp-action="Details" asp-route-id="@utilisateur.Id">Mon Compte</a>
                            </li>
                           
                            @*<li class="nav-item mx-2">
                                <a class="texte-nav-custom" asp-area="" asp-controller="Livre" asp-action="Index">Liste Livre</a>
                            </li>*@
                            <li class="nav-item mx-2">
                                <a class="texte-nav-custom" asp-area="" asp-controller="Livre" asp-action="AjouterLivre">Ajouter un Livre</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="texte-nav-custom" asp-area="" asp-controller="Collection" asp-action="MesCollections">Mes collections </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item mx-2">
                                <a class="texte-nav-custom" asp-area="" asp-controller="Utilisateur" asp-action="InscriptionUtilisateur">Inscription</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="texte-nav-custom" asp-area="" asp-controller="Utilisateur" asp-action="Connexion">Connexion</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    &copy; 2023 - BookyDou - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-muted">Privacy</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

