@model BookDou.Models.Collection

@{
    ViewData["Title"] = Model.Nom;
}

<h1>@Model.Nom</h1>

<div>
    <h5>@Model.Description</h5>
    <hr />


    <div class="row">
        @if (Model.CollectionLivres != null && Model.CollectionLivres.Any())
        {
            @foreach (var collectionLivre in Model.CollectionLivres)
            {
                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title text-center mb-3">
                                <a href="@Url.Action("DetailsLivre", "Livre", new { id = collectionLivre.LivreId })">@Html.DisplayFor(modelItem => collectionLivre.Livre.Titre)</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => collectionLivre.Livre.Auteur)</h6>
                            <p class="card-text text-center mb-2">Édition: @Html.DisplayFor(modelItem => collectionLivre.Livre.Editeur)</p>

                            <div class="text-center mt-auto">
                                <a href="@Url.Action("EditerLivre", new { id = collectionLivre.Livre.Id })" class="btn btn-primary btn-sm mr-2">Modifier</a>
                                <a href="@Url.Action("DetailsLivre", new { id = collectionLivre.Livre.Id })" class="btn btn-primary btn-sm mr-2">Détails</a>
                            </div>  @*<a href="@Url.Action("Delete", new { id = collectionLivre.Livre.Id })" class="card-link">Retirer</a>*@
                        </div>
                    </div>
                </div>
            }

        }

    </div>

    <br />




    <div>
        <a asp-action="ModifierMaCollection" asp-route-id="@Model?.Id">Modifier ma collection</a> |
        <a asp-action="MesCollections">Retour aux collections</a>
    </div>


</div>