@model IEnumerable<BookDou.Models.Collection>

@{
    ViewData["Title"] = "Mes Collections";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Mes Collections</h1>
    <a asp-action="AjouterCollection" class="btn btn-success">Ajouter Une Collection</a>
</div>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 biblioCard">
            <div class="card h-100 mb-3">
                <img src="~/imageSite/biblioIconBookydou.png" class="card-img-top biblioIcon" alt="Image">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Nom)</h5>
                    <p class="card-text text-center">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text text-center">Nombre de livres : @item.CollectionLivres.Count</p>


                    <div class="text-center mt-auto">
                        <a href="@Url.Action("ModifierMaCollection", new { id = item.Id })" class="btn btn-primary btn-sm mr-2">Modifier</a>
                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-sm mr-2">Ouvrir</a>
                        <a href="@Url.Action("SupprimerCollection", new { id = item.Id })" class="btn btn-danger btn-sm mr-2">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
