@model BookDou.Models.Collection

@{
    ViewData["Title"] = "Modifier ma collection";
    var utilisateurConnecte = ViewData["UtilisateurConnecte"] as Utilisateur;
}

<h1 class="text-center>Modifier</h1>

<h4 class="text-center">@Model.Nom</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="ModifierMaCollection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group text-center">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
                <a asp-action="MesCollections" class="btn btn-secondary ml-2">Retour aux collections</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
