@model BookDou.Models.Collection

@{
    ViewData["Title"] = "Supprimer la collection";
}

<h1 class="text-center">Supprimer</h1>

<div class="container mt-4 mb-4">
    <div class="text-center">
        <h4>Êtes-vous sûr(e) de vouloir supprimer cette collection ?</h4>
        <hr />
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3 text-md-right">
                    <strong>@Html.DisplayNameFor(model => model.Nom)</strong>
                </div>
                <div class="col-md-9 text-md-left">
                    @Html.DisplayFor(model => model.Nom)
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-md-right">
                    <strong>@Html.DisplayNameFor(model => model.Description)</strong>
                </div>
                <div class="col-md-9 text-md-left">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="form-group text-center">
        <form asp-action="SupprimerCollection">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Oui, je veux la supprimer." class="btn btn-danger" />
            <a asp-action="MesCollections" class="btn btn-secondary ml-2">Non, retour aux collections</a>
        </form>
    </div>
</div>
