﻿@model BookDou.Services.UtilisateurConnexionService

@{
    ViewData["Title"] = "Connexion";
}

<h1>Connexion</h1>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Connexion">
            <div class="text-danger">@ViewData["MessageErreur"]</div>
            <div class="form-group">
                <label asp-for="LoginEmail" class="control-label"></label>
                <input asp-for="LoginEmail" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MotDePasse" class="control-label"></label>
                <input asp-for="MotDePasse" class="form-control" />
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Connexion" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
