@model BookDou.Models.Utilisateur

@{
    ViewData["Title"] = "S'inscrire";
}

<h1>Inscription sur Bookydou</h1>
<br />
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="InscriptionUtilisateur">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotDePasse" class="control-label"></label>
                <input asp-for="MotDePasse" class="form-control" />
                <span asp-validation-for="MotDePasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmerLeMotDePasse" class="control-label"></label>
                <input asp-for="ConfirmerLeMotDePasse" class="form-control" />
                <span asp-validation-for="ConfirmerLeMotDePasse" class="text-danger"></span>
            </div>


            <br />
            <div class="form-group text-center mt-4">
                <input type="submit" value="Créer mon Compte" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Annuler</a>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
