﻿@model BookDou.Models.Utilisateur

@{
    ViewData["Title"] = "Accueil";

}


<div class="text-center">
    <h3 class="display-4">@(Model != null ? $"Bienvenue, {Model.Login}" : "Bienvenue")</h3>
  <br />
  <p class="text-center">
      Bienvenue dans votre gestionnaire de bibliothèque !
      <br />
      Explorez, partagez et plongez dans vos univers littéraires vibrants.
      Gérez vos différentes collections, découvrez de nouveaux joyaux.
      <br />
      Grâce à BookyDou, la gestion de vos livres devient un processus simplifié et agréable
  </p>
    <div class="imageAccueil"></div>
</div>



