@model BookDou.Models.CollectionLivre

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CollectionLivre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CollectionId" class="control-label"></label>
                <select asp-for="CollectionId" class ="form-control" asp-items="ViewBag.CollectionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LivreId" class="control-label"></label>
                <select asp-for="LivreId" class ="form-control" asp-items="ViewBag.LivreId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Lu" /> @Html.DisplayNameFor(model => model.Lu)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateCreation" class="control-label"></label>
                <input asp-for="DateCreation" class="form-control" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateModification" class="control-label"></label>
                <input asp-for="DateModification" class="form-control" />
                <span asp-validation-for="DateModification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateSuppression" class="control-label"></label>
                <input asp-for="DateSuppression" class="form-control" />
                <span asp-validation-for="DateSuppression" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
