﻿html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .logo {
        max-height: 100px;
    }

}

@media (max-width: 800px) {
    .logo {
        max-height: 65px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-custom {
    background-color: #CFCF5A;
}

* {
    color: #272031;
}

    * h1 {
        color: #587A33;
    }

a {
    text-decoration: none;
    color: inherit;
}

.fond-custom {
    background-color: #F3F4E8;
}

.texte-nav-custom {
    color: #272031;
    font-size:1.2em;

}

    .texte-nav-custom:hover {
        color: #587A33;
        text-decoration: underline;
    }

.imageAccueil {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

    .imageAccueil::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../imageSite/image1_accueil.jpg");
        background-size: cover;
        background-position: center;
        clip-path: inset(0 0 0 0);
    }

.biblioIcon {
    max-width: 150px;
    margin: 0 auto;
    margin-top : 3vh; 
}
.biblioCard{

    padding :10px ;
}

.text-danger{
    color :darkred;
}