﻿@model BookDou.Models.Livre

@{
    ViewData["Title"] = "Ajouter un Livre";
}

<h1>Ajouter un Livre</h1>

<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <h5>Chercher via l'ISBN du livre</h5>
        <form asp-action="AjouterLivre">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>

            <div class="form-group text-center mt-4">
                <input type="submit" value="Chercher le Livre" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Annuler</a>
            </div>
            <br />
        </form>

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-danger">@ViewBag.Message</div>
        }
        @if (!string.IsNullOrEmpty(ViewBag.MessageSucces))
        {
            <div class="alert alert-success">@ViewBag.MessageSucces</div>

            <div class="text-center mt-3">
                <form asp-action="AjouterAMaCollection" method="post">
                    <label for="collectionId">Choisir une collection :</label>
                    <select name="collectionId" id="collectionId" class="form-control">
                        @foreach (var collection in ViewBag.Collections)
                        {
                            <option value="@collection.Id">@collection.Nom</option>
                        }
                    </select>
                    <input type="hidden" name="livreId" value="@ViewBag.idLivre" />
                    <br />
                    <button type="submit" class="btn btn-secondary btn-sm">Ajouter le livre à ma collection</button>
                </form>
            </div>
        }
    </div>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <h5>Ajouter le livre manuellement</h5>
        <div class="text-center mt-3">
            <a asp-controller="Livre" asp-action="AjouterLivreFormulaire" class="btn btn-secondary" role="button" aria-pressed="true">Ajouter le livre manuellement</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
