@model BookDou.Models.Livre

@{
    ViewData["Title"] = Model.Titre;
}

<div class="container">
    <h1 class="mt-4">@Html.DisplayFor(model => model.Titre)</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Détail</h4>
            <hr />
            <dl class="row">

                <dt class="col-sm-3">
                    Titre
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Titre)
                </dd>
                <dt class="col-sm-3">
                    Auteur
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Auteur)
                </dd>
                <dt class="col-sm-3">
                    Éditeur
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Editeur)
                </dd>
                <dt class="col-sm-3">
                    ISBN
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Isbn)
                </dd>
                <dt class="col-sm-3">
                    Date de publication
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DateDePublication)
                </dd>
                <dt class="col-sm-3">
                    Description
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a>
        <a class="btn btn-secondary" asp-action="Index">Retour à la liste</a>
    </div>
</div>
