@model BookDou.Models.Livre

@{
    ViewData["Title"] = "Editer le livre";
}

<h1>Editer</h1>

<h4>@Model.Titre</h4>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="EditerLivre">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auteur" class="control-label"></label>
                <input asp-for="Auteur" class="form-control" />
                <span asp-validation-for="Auteur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editeur" class="control-label"></label>
                <input asp-for="Editeur" class="form-control" />
                <span asp-validation-for="Editeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDePublication" class="control-label"></label>
                <input asp-for="DateDePublication" class="form-control" />
                <span asp-validation-for="DateDePublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center my-4">
                <input type="submit" value="Sauvegarder" class="btn btn-primary mx-2" />
                <a asp-action="Index" class="btn btn-secondary mx-2">Annuler</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
