@model IEnumerable<BookDou.Models.Livre>

@{
    ViewData["Title"] = "Livres";
}

<h1>Livres</h1>

<p>
    <a asp-action="AjouterLivre">Ajouter un livre</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body d-flex flex-column align-items-center">
                    <h5 class="card-title text-center mb-3">
                        <a href="@Url.Action("DetailsLivre", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Titre)</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Auteur)</h6>
                    <p class="card-text text-center mb-2">Édition: @Html.DisplayFor(modelItem => item.Editeur)</p>
                    <a href="@Url.Action("EditerLivre", new { id = item.Id })" class="card-link">Modifier</a>
                    <a href="@Url.Action("DetailsLivre", new { id = item.Id })" class="card-link">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="card-link">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

